.todo-list-form-container{
    text-align: center;
}

.todo-list-btn-styles{
    margin: 5px;
    background-color: #388bfd;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 5px;
    font-weight: bold
}
.todo-btn:hover {
    background-color: #1f6feb;
    color: white;
  }

input[type="text"]{
    padding: 11px;
    border-radius: 5px;
    border: 1px solid darkgray;
}
  